.header {
    float: right;
    padding: 10px;
}
.game-container{
    background-color: blue;
    position: relative;
    text-align: center;
    margin: auto;
    top: 150px;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}